/emacs/ac-comphist.dat
/emacs/auto-save-list
/emacs/custom.el
/emacs/elpa
/emacs/emms
/emacs/ensime
/emacs/eshell
/emacs/history
/emacs/local-pre.el
/emacs/local.el
/emacs/projectile-bookmarks.eld
/emacs/recentf
/emacs/request
/emacs/secrets
/emacs/tramp
/emacs/url
/emacs/var
/emacs/.org-id-locations
/emacs/bookmarks
/emacs/projectile.cache
/emacs/.cask
/emacs/diary
/emacs/rake.cache
/emacs/transient/history.el
/emacs/newsticker
/emacs/eln-cache
/emacs/straight/
/emacs/session.*
/emacs/projects
/emacs/kkcrc
